/* 320x50-1 — CGNH26408 Nutrena Days */
$width: 320px;
$height: 50px;

*, *:before, *:after { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
#ad, .banner {
  position: absolute;
  inset: 0;
  width: $width;
  height: $height;
  overflow: hidden;
  background: #ffffff;
  user-select: none;
}
.banner img {
  position: absolute;
  display: block;
}
.background { z-index: 1; }
.background {
  inset: 0;
  width: $width;
  height: $height;
}
.plaid {
  left: 0px;
  top: 0px;
  width: 76px;
  height: 50px;
  z-index: 2;
}
.logo {
  left: 8.5px;
  top: 18px;
  width: 60.164px;
  height: 13px;
  z-index: 3;
}
.headline {
  left: 84.6471px;
  top: 17.522px;
  width: 176px;
  height: 14px;
  z-index: 4;
}
.cta {
  left: 151px;
  top: 37px;
  width: 43px;
  height: 13.069px;
  z-index: 5;
}
.btn-overlay {
  position: absolute;
  z-index: 50;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
.btn-overlay:before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #666;
}
